<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>授权平台-登录</title>
    <!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/login interface.css">    
</head>
<body>
    <div id="main-frame">
        <div id="left">
            <samp id="left-title">
                授权平台
            </samp>
        </div>
        <div id="right">
            <div id="right-input-content">
                <div class="input-content-cell">
                    <img src="img/th.png" alt>
                    <div class="input-field">
                        <input type="text" class="input-self" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="input-content-cell">
                    <img src="img/R-C.png" alt>
                    <div class="input-field">
                        <input type="password" class="input-self" placeholder="请输入密码">
                    </div>
                </div>
                <div class="input-content-cell">
                    <img src="img/R-C (1).png" alt>
                    <div class="input-field">
                        <input type="text" class="input-self" placeholder="请输入验证码" id="input-verify">
                    </div>
                    <div id="verify-pic">
                        <samp style="line-height: 50px;">
                            这里边是验证码
                        </samp>
                    </div>
                    <img src="img/R-C (2).png" alt id="verify-pic-fresh">
                </div>
            </div>
            <form id="checkbox"><input type="checkbox">记住密码</form>
            <button><span>登录</span></button>
        </div>
    </div>
</body>